# Runtime data
*.pid
*.seed
*.pid.lock

# will only publish from the /dist folder
test/
src/

# config / env files
.env
.git
.gitignore
.npmrc
.vscode/
tsconfig.json
tslint.json
.nycrc

# don't upload testing / coverage stuff
coverage/
sonar-project.properties
.scannerwork
.sonarlint
.nyc_output